:root {
  --body-color: #f0f5f9;
  --container-color: #c9d6df;
  --cards-color: #a7b8c3;
  --font-color: #1e2022;
  --shadow-color: #1e202257;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 900;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background: var(--body-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.container,
.menu,
.end,
.game,
.front,
.back,
.HUD {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 480px;
  height: 500px;
  background: var(--container-color);
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.menu,
.end {
  position: absolute;
  z-index: 9999;
  background: var(--container-color);
  width: 100%;
  height: 100%;
  flex-direction: column;
  color: var(--font-color);
}
.menu h1,
.end h1 {
  font-size: 3rem;
  margin-bottom: 10%;
  text-transform: uppercase;
}
.menu p {
  font-size: 1rem;
}
.end p {
  font-size: 1rem;
  margin-bottom: 20px;
}
.end span {
  font-size: 1.4rem;
}
.menu .btn,
.end .btn {
  width: 80px;
  height: 50px;
  font-size: 1rem;
  background: var(--font-color);
  border: none;
  border-radius: 7px;
  margin: 20px;
  color: var(--container-color);
  cursor: pointer;
  box-shadow: 0 2px 10px var(--shadow-color);
  transition: transform 0.2s;
}
.end .btn {
  width: fit-content;
  padding: 4px 8px;
  height: 30px;
  border: none;
  margin: 4px;
}
.menu .btn:hover {
  transform: scale(105%);
}
.game {
  flex-direction: column;
}
.game img {
  width: 100%;
  height: 100%;
}

.game .cards,
.game .cards2 {
  width: 450px;
  height: 450px;
  display: none;
  place-content: center center;
}
.game .cards {
  grid-template-columns: repeat(4, 1fr);
}
.game .cards2 {
  grid-template-columns: repeat(6, 1fr);
}
.cards .card {
  width: 100px;
  height: 100px;
}
.cards2 .card {
  width: 62px;
  height: 62px;
}
.game .card {
  cursor: pointer;
  margin: 5px;
  overflow: hidden;
  border-radius: 7px;
  position: relative;

  perspective: 800px;
  transform-style: preserve-3d;
}
.card.shake {
  animation: shake 0.35s ease-in-out;
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-13px);
  }
  40% {
    transform: translateX(13px);
  }
  60% {
    transform: translateX(-8px);
  }
  80% {
    transform: translateX(8px);
  }
}
.HUD {
  width: 100%;
  height: 40px;
}
.back,
.front {
  width: 100%;
  height: 100%;
  background: var(--cards-color);
  border-radius: 7px;
  position: absolute;
  transition: transform 0.25s linear;
  backface-visibility: hidden;
  pointer-events: none;
  user-select: none;
  box-shadow: 0 1px 5px var(--shadow-color);
}
.front p {
  font-size: 30px;
  color: var(--font-color);
}

.card .back {
  transform: rotateY(-180deg);
}
.card.flip .front {
  transform: rotateY(180deg);
}
.card.flip .back {
  transform: rotateY(0);
}
.end {
  display: none;
}
.HUD button {
  padding: 5px 10px;
  font-weight: 800;
  border-radius: 10px;
  background: none;
  border: 2px solid var(--font-color);
  color: var(--font-color);
  transition: all linear 0.1s;
}
.HUD button:hover {
  color: var(--container-color);
  background: var(--font-color);
  border: 2px solid var(--container-color);
}
.HUD {
  padding: 2px 10px;
  justify-content: space-between;
  color: var(--font-color);
}
.HUD span {
  font-size: 1.3rem;
}
